/* div boundary visualization */
/*
div {
  border: 1px solid red; 
  background-color: rgba(255, 0, 0, 0.05);
}
*/

.catalogHeader {
  position: sticky;
  top: 0;
  background-color: #5787f7;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    gap: 5px;
}

.cartOverlay {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 850px;
    background: gray;
    box-shadow: -10px 0 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding: 20px;
}


.cartHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
}

.cartItems {
    max-height: 510px;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cartRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.removeButton {
    background-color: #f28c80;
}

.orderSummary {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
   font-size: .85rem;
}

.billingInfo {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.billFormRow {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .65rem;
}

.billLabel {
    width: 80px;
    flex-shrink: 0;
}

.checkoutButton {
    background-color: #6ee68e;
}

.cartFooter {
    display: flex;
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    gap: 50px;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px
}

button {
    padding: 12px 24px;
    font-size: 1rem;
}
